# The binary file (executable)
Dauphine
Dauphine.exe

# The build folder
build/

# The windows build DLLs folder
wlibs/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files, just in case
*.cpp~
*.h~
*.md~
